<div class="row page-single-product">
    <div class="images-slide five columns">
        <div class="product-image-wrapper">
            <div ng-show="$ctrl.productData.state === 'sold'" class="ribbon-wrapper-green">
                <div class="ribbon-green">VENDIDO</div>
            </div>
            <img ng-class="$ctrl.productData.state"
             src="{{ $ctrl.getImagePath($ctrl.productData.photos[0])  }}">
        </div>
    </div>
    <div class="product-detail seven columns">
        <a ng-click="$ctrl.toggleFavourite($ctrl.productData.id, $ctrl.favouriteProducts)" title="Favorito">
            <div ng-class="{'star-favourite': $ctrl.favouriteProducts.indexOf($ctrl.productData.id) !== -1}"
                 class="star-five"></div>
        </a>
        <span class="product-price">{{ $ctrl.productData.price | currency }}</span>
        <a ng-link="['Product', { id: product.id }]"
           class="product-title" ng-bind-html="$ctrl.productData.name | productTitleFilter"></a>
        <p class="product-description" ng-bind-html="$ctrl.productDescription"></p>
        <p class="product-category">{{ $ctrl.productData.category.name }}</p>
        <div class="product-seller">
            <simple-user userbasicdata="$ctrl.productData.seller"></simple-user>
        </div>
    </div>
</div>
