<div class="row">
    <ul class="product-items">
        <li ng-repeat="product in $ctrl.products" class="four columns">
            <img src="{{ $ctrl.getImagePath(product.photos[0])  }}">
            <div class="product-detail">
                <div class="vertical-centered">
                    <a href="#" class="product-title">{{ product.name }}</a>
                    <p class="product-category">{{ product.category.name }}</p>
                </div>
            </div>
        </li>
    </ul>
</div>

