<div class="row">
    <ul class="product-items">
        <!--li class="four columns">
            <label for="product-filter">Filtrar productos</label>
            <input
                type="text"
                id="product-filter"
                placeholder="Busca productos por su nombre"
                ng-model="filterProduct">
        </li-->
        <li ng-repeat="product in $ctrl.products" class="four columns">
            <div class="product-view">
                <img src="{{ $ctrl.getImagePath(product.photos[0])  }}">
                <div class="product-detail">
                    <div class="vertical-centered">
                        <span class="product-price">{{ product.price | currency }}</span>
                        <a ng-link="['Product', { id: product.id }]"
                           class="product-title"
                           ng-bind-html="product.name | productTitleFilter"></a>
                        <span class="product-category">{{ product.category.name + product.category.id }}</span>
                    </div>
                </div>
            </div>
            <div class="user-view">
                <simple-user userbasicdata="product.seller"></simple-user>
            </div>
        </li>
    </ul>
</div>

