<wtp-header></wtp-header>

<div class="near-you-space-holder"></div>

<div class="container">
    <!--div class="row">
        <div class="twelve columns">
            <nav class="navigation-bar">
                <ul>
                    <li>
                        <!-- 'ngLink' establishes route to navigate name -->
                        <!--a ng-link="['Products']">Productos</a>
                    </li->
                    <!--li>
                        <a ng-link="['NewProduct']">Nuevo producto</a>
                    </li-->
                <!--/ul>
            </nav>
        </div>
    </div-->

    <!-- Dynamic zone -->
    <ng-outlet></ng-outlet>
</div>

<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <h1>Whatapop, gana dinero vendiendo aquello que no usas y encuentra oportunidades cerca de ti.</h1>
            </div>
        </div>
    </div>
</footer>