body {
    color: #6a6a6a;
    background-color: #f6f6f6;
}

.near-you-space-holder {
    height: 5.2rem;
}

header.main-header {
    background-color: #7522C5;
}

header.main-header a {
    font-family: 'Baloo Bhai', 'Arial Black', cursive, sans-serif;
    color: #FFF;
    font-size: 30px;
    margin-bottom: 0;
    text-decoration: none;
}

/* Product items */

.product-items {
    list-style: none;
    width: 100%;
    display: inline-block;
}
.product-items li {
    background-color: #FFF;
}
.product-items li:nth-child(4n) {
    margin-left: 0;
}
.product-items li img,
.images-slide img{
    width: 100%;
    height: auto;
    display: block;
}

.product-detail {
    padding: 7px;
}

.product-detail .product-title {
    display: block;
    color: #6a6a6a;
    text-decoration: none;
}

.product-detail .product-title:hover {
    text-decoration: underline;
}

.product-detail .product-category {
    display: block;
    color: #b5b5b5;
    text-decoration: none;
}

.product-detail .product-category:hover {
    text-decoration: underline;
}

.simple-user .user-avatar {
    overflow: hidden;
    width: 4rem;
    height: 4rem;
    background-image: url(http://donatered-asset.s3.amazonaws.com/assets/default/default_user-884fcb1a70325256218e78500533affb.jpg);
    -webkit-background-size: 100%;
    background-size: 100%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.product-items .product-detail .product-title {
    font-size: 1.7rem;
}

.product-items .product-detail .product-title .product-platform {
    color: #777;
    font-size: 1.3rem;
}

.page-single-product .product-detail{
    background-color: #FFF;
    padding: 15px;
}

.page-single-product .product-detail .product-title {
    font-size: 2.3rem;
    color: #6a6a6a;
}

.page-single-product .product-detail .product-description {
    color: #a5a5a5;
}

.product-price {
    color: #7522C5;
    font-size: 1.8rem;
}

.product-seller,
.user-view {
    border-top-color: #EFEFEF;
    border-top-style: solid;
    border-top-width: 1px;
}

.simple-user {
    display: table;
}

.user-avatar-container {
    text-align: center;
    display: table-cell;
    padding: 7px;
    line-height: 0;
}

.user-avatar {
    display: inline-block;
}

.user-nick-container {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}

.user-nick {
    display: inline-block;
}

.main-footer h1 {
    font-size: 1.4em;
}

.product-image-wrapper .sold {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.product-image-wrapper {
    margin: 0 auto;
    width: 280px;
    height: 370px;
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.3);
    -moz-box-shadow:    0 0 8px rgba(0,0,0,0.3);
    box-shadow:         0 0 8px rgba(0,0,0,0.3);
    position: relative;
}

.ribbon-wrapper-green {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    right: -3px;
}

.ribbon-green {
    z-index: 2;
    font: bold 15px Sans-Serif;
    text-align: center;
    text-shadow: rgba(255,255,255,0.5) 0 1px 0;
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 15px;
    width: 120px;
    background-color: #dbafb1;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dbafb1), to(#bf6460));
    background-image: -webkit-linear-gradient(top, #dbafb1, #bf6460);
    background-image:    -moz-linear-gradient(top, #dbafb1, #bf6460);
    background-image:     -ms-linear-gradient(top, #dbafb1, #bf6460);
    background-image:      -o-linear-gradient(top, #dbafb1, #bf6460);
    color: #6a4c49;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
    -moz-box-shadow:    0 0 3px rgba(0,0,0,0.3);
    box-shadow:         0 0 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
    content: "";
    border-top:   3px solid #891a00;
    border-left:  3px solid transparent;
    border-right: 3px solid transparent;
    position:absolute;
    bottom: -3px;
}

.ribbon-green:before {
    left: 0;
}

.ribbon-green:after {
    right: 0;
}​
