body {
    color: #6a6a6a;
    background-color: #f6f6f6;
}

.near-you-space-holder {
    height: 5.2rem;
}

header.main-header {
    background-color: #7522C5;
}

header.main-header a {
    font-family: 'Baloo Bhai', 'Arial Black', cursive, sans-serif;
    color: #FFF;
    font-size: 30px;
    margin-bottom: 0;
    text-decoration: none;
}

/* Product items */

.product-items {
    list-style: none;
    width: 100%;
    display: inline-block;
}
.product-items li {
    background-color: #FFF;
}
.product-items li:nth-child(4n) {
    margin-left: 0;
}
.product-items li img{
    width: auto;
    height: 100%;
    display: block;
}