header.main-header {
    background-color: #7522C5;
}

header.main-header a {
    font-family: 'Baloo Bhai', 'Arial Black', cursive, sans-serif;
    color: #FFF;
    font-size: 30px;
    margin-bottom: 0;
    text-decoration: none;
}


/**/

/* Work items */

.product-items {
    list-style: none;
    width: 100%;
    display: inline-block;
}
.product-items li {
    position: relative;
    overflow: hidden;
    height: 360px;

    /* important because we need to overwrite the default skeleton */
    margin: 0!important;
    width: 33%;
    border: 10px solid white;

    position: relative;
}
.product-items li:nth-child(4n) {
    margin-left: 0;
}
.product-items li img{
    width: auto;
    height: 100%;
    display: block;
}
/* Work detail */

.product-detail {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;

    opacity: 0;
    background: rgba(0,0,0,.75);
    color: white;

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.product-detail h3 {
    font-size: 16px;
    letter-spacing: .05em;
}
.product-detail p {
    font-size: 20px;
    text-transform: capitalize;
    padding-left: 20px;
    padding-right: 20px;
}

.product-items li:hover .product-detail{
    opacity: 1;
    box-shadow: inset 0 0 0 10px #222;
}